@import './variables';
@import './helpers';
@import './mixins';

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
  color: $graphite;
}

h1, h2, h3, h4 {
  margin: 0;
}